<div *ngIf="loading" class="fixed inset-0 z-50 flex items-center justify-center">
  <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-b-4 border-blue-500"></div>
</div>

<div

  class="text-gray-900 dark:text-white bg-white dark:bg-gray-900 -mt-12">
  <!-- Background Banner -->
  <div
    class="relative h-auto min-h-[400px] bg-cover bg-center -mt-24"
    [style.backgroundImage]="'url(https://image.tmdb.org/t/p/original' + movieDetails.backdrop_path + ')'"
  >
    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black bg-opacity-60 dark:bg-opacity-60"></div>

    <!-- Content -->
    <div class="relative z-10 flex flex-col md:flex-row items-center md:items-start h-full px-4 md:px-20 py-10 gap-8">

      <!-- Movie Poster -->
      <img
        [src]="'https://image.tmdb.org/t/p/w500' +  movieDetails?.poster_path "
        alt="Movie Poster"
        class="w-40 sm:w-48 md:w-[190px] aspect-[2/3] rounded-lg object-cover shadow-lg mt-24"
      />

      <!-- Movie Info -->
      <div class="flex flex-col flex-1 gap-3 text-center md:text-left mt-24 max-[767px]:mt-0">
        <h1 class="text-2xl md:text-4xl font-bold text-gray-300 dark:text-gray-400">
          {{movieDetails?.original_title}} <span class="text-xl">({{movieDetails?.release_date}})</span>
        </h1>

<!--        <p class="text-sm md:text-base text-gray-300 dark:text-gray-400">Director: John</p>-->
        <span class="text-sm md:text-base text-gray-300 dark:text-gray-400">
  <ng-container *ngFor="let genre of movieDetails?.genres; let last = last">
    {{ genre.name }}<span *ngIf="!last">, </span>
  </ng-container>
</span>


        <p class="text-sm md:text-base text-gray-300 dark:text-gray-400">
          {{movieDetails?.runtime}} min |  {{movieDetails?.tagline}}
        </p>

        <p class="text-yellow-500 font-semibold text-lg">⭐ {{movieDetails?.vote_average }} / 10</p>

        <!-- Buttons -->
        <div class="flex flex-wrap justify-center md:justify-start gap-3 mt-2">
          <!-- Favorite Icon Button with Label -->
          <div class="relative group">
            <button class="bg-gray-200 dark:bg-gray-700 p-2 rounded-full hover:bg-red-500 text-xl transition">
              ❤️
            </button>
          </div>

<!--          &lt;!&ndash; Watchlist Icon Button with Label &ndash;&gt;-->
<!--          <div class="relative group">-->
<!--            <button class="bg-gray-200 dark:bg-gray-700 p-2 rounded-full hover:bg-red-500 text-xl transition">-->
<!--              📌-->
<!--            </button>-->
<!--            <span-->
<!--              class="absolute left-1/2 -translate-x-1/2 mt-1 px-2 py-1 text-sm rounded bg-black text-white opacity-0 group-hover:opacity-100 transition"-->
<!--            >-->
<!--            Add to Watchlist-->
<!--          </span>-->
<!--          </div>-->

          <!-- Play Trailer Button -->
          <button
            *ngIf="movieVideos?.results?.length > 0"
            class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded flex items-center gap-2 transition"
            (click)="openTrailer()"
          >
            ▶️ Play Trailer
          </button>

          <button
            *ngIf="movieVideos?.results?.length === 0"
            class="bg-gray-400 text-white px-4 py-2 rounded flex items-center gap-2 cursor-not-allowed"
            disabled
          >
            ❌ Trailer Unavailable
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Overview -->
  <div class="px-4 md:px-20 py-6">
    <h2 class="text-xl font-semibold mb-2">Overview</h2>
    <p class="text-gray-800 dark:text-gray-300 mb-4 text-justify">
      {{movieDetails?.overview}}
    </p>
  </div>

  <!-- Credits -->
  <div class="px-4 md:px-20 py-4">
    <h2 class="text-xl font-semibold mb-4">Cast</h2>
    <div class="flex overflow-x-auto gap-6 scroll-smooth pb-4">

      <!-- Cast Member Card -->
      <div class="min-w-[250px]  bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden shadow-md text-center p-4" *ngFor="let cast of movieCredits?.cast">
        <img
          [src]="cast.profile_path ? 'https://image.tmdb.org/t/p/w500' + cast.profile_path : '/assets/not-ffound-image.jpg'"
          alt="{{ cast.name }}"
          class="mx-auto object-cover mb-3"
        />

        <h3 class="text-lg font-semibold text-gray-800 dark:text-white">{{cast?.original_name}}</h3>
        <p class="text-sm text-gray-600 dark:text-gray-300">{{cast?.character}}</p>
      </div>
    </div>
  </div>


  <div class="px-4 md:px-20 py-4">
    <h2 class="text-xl font-semibold mb-4">Crew</h2>
    <div class="flex overflow-x-auto gap-6 scroll-smooth pb-4">

      <!-- Crew Member Card -->
      <div class="min-w-[250px] bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden shadow-md text-center p-4" *ngFor="let crew of movieCredits?.crew">
        <img
          [src]="crew.profile_path ? 'https://image.tmdb.org/t/p/w500' + crew.profile_path : '/assets/not-ffound-image.jpg'"
          alt="{{ crew.name }}"
          class="mx-auto object-cover mb-3"
        />
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Name: {{crew.original_name}}</h3>
        <p class="text-sm text-gray-600 dark:text-gray-300">Department:  {{crew?.department}}</p>
        <p class="text-sm text-gray-600 dark:text-gray-300">Job:  {{crew?.job}}</p>
      </div>

    </div>
  </div>

  <!-- Companies -->
  <div class="px-4 md:px-20 py-4">
    <h2 class="text-xl font-semibold mb-4">Production Companies</h2>

    <!-- Horizontal Scroll Container -->
    <div class="flex overflow-x-auto gap-6 scroll-smooth pb-4">
      <!-- Company Card -->
      <div
        *ngFor="let company of movieDetails?.production_companies"
        class="min-w-[250px] bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden shadow-md text-center p-4"
      >
        <img
          [src]="company.logo_path ? 'https://image.tmdb.org/t/p/w500' + company.logo_path : 'assets/no-logo.png'"
          alt="{{ company.name }}"
          class="mb-3 w-[200px] h-[200px] object-contain mx-auto"
        />
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white">
          {{ company.name }}
        </h3>
      </div>
    </div>
  </div>

  <!-- Media -->
  <div class="px-4 md:px-20 py-4">
    <h2 class="text-xl font-semibold mb-4">Media</h2>

    <!-- Tab buttons -->
    <div class="flex space-x-4  mb-4">
      <button
        class="py-2 px-4"
        [ngClass]="selectedTab === 'tab1' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-600'"
        (click)="selectTab('tab1')"
      >
        Backdrops ({{movieImages?.backdrops?.length}})
      </button>
      <button
        class="py-2 px-4"
        [ngClass]="selectedTab === 'tab2' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-600'"
        (click)="selectTab('tab2')"
      >
        Posters ({{movieImages?.posters?.length}})
      </button>
      <button
        class="py-2 px-4"
        [ngClass]="selectedTab === 'tab3' ? 'border-b-2 border-blue-600 text-blue-600' : 'text-gray-600'"
        (click)="selectTab('tab3')"
      >
       Logos ({{movieImages?.logos?.length}})
      </button>
    </div>


    <!-- Tab content -->
    <div *ngIf="selectedTab === 'tab1'" class="p-4  bg-gray-100 dark:bg-gray-800 rounded">
      <!-- Horizontal Scroll Container -->
      <div class="flex overflow-x-auto gap-6 scroll-smooth pb-4">
        <div
          *ngFor="let backdrop of movieImages?.backdrops"
          class="min-w-[380px] bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden shadow-md text-center"
        >
          <a
            *ngIf="backdrop?.file_path"
            [href]="'https://image.tmdb.org/t/p/original' + backdrop.file_path"
            target="_blank"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + backdrop.file_path"
              class="object-contain mx-auto cursor-pointer"
              alt="Backdrop Image"
            />
          </a>
        </div>
      </div>
    </div>

    <!-- Tab content -->
    <div *ngIf="selectedTab === 'tab2'" class="p-4  bg-gray-100 dark:bg-gray-800 rounded">
      <!-- Horizontal Scroll Container -->
      <div class="flex overflow-x-auto gap-6 scroll-smooth pb-4">
        <div
          *ngFor="let poster of movieImages?.posters"
          class="min-w-[230px] bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden shadow-md text-center"
        >
          <a
            *ngIf="poster?.file_path"
            [href]="'https://image.tmdb.org/t/p/original' + poster.file_path"
            target="_blank"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + poster.file_path"
              class="object-contain mx-auto cursor-pointer"
              alt="Backdrop Image"
            />
          </a>
        </div>
      </div>
    </div>

    <!-- Tab content -->
    <div *ngIf="selectedTab === 'tab3'" class="p-4  bg-gray-100 dark:bg-gray-800 rounded">
      <!-- Horizontal Scroll Container -->
      <div class="flex overflow-x-auto gap-6 scroll-smooth pb-4">
        <div
          *ngFor="let logo of movieImages?.logos"
          class="min-w-[380px] bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden shadow-md text-center"
        >
          <a
            *ngIf="logo?.file_path"
            [href]="'https://image.tmdb.org/t/p/original' + logo.file_path"
            target="_blank"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + logo.file_path"
              class="object-contain mx-auto cursor-pointer"
              alt="Backdrop Image"
            />
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- Review -->
  <div class="px-4 md:px-20 py-4">
    <h2 class="text-xl font-semibold mb-4">Reviews</h2>

    <!-- Tab content -->
    <div class="p-4 h-[450px]  bg-gray-100 dark:bg-gray-800 rounded">
      <!-- Horizontal Scroll Container -->
      <div class="flex overflow-y-auto gap-6 scroll-smooth pb-4">
        <div
          *ngFor="let review of movieReviews?.results"
          class="min-w-[380px] bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden shadow-md p-4 mb-4"
        >
          <!-- Author Info -->
          <div class="flex items-center mb-4">
            <img
              *ngIf="review?.author_details?.avatar_path"
              [src]="'https://image.tmdb.org/t/p/w500' + review.author_details.avatar_path"
              alt="Author Avatar"
              class="w-10 h-10 rounded-full mr-3"
            />
            <div class="text-left">
              <h3 class="text-lg font-semibold text-gray-800 dark:text-white">{{ review.author }}</h3>
              <p class="text-xs text-gray-500 dark:text-gray-400">
                {{ review.created_at | date: 'medium' }}
              </p>
            </div>
          </div>

          <!-- Rating -->
          <div *ngIf="review?.author_details?.rating !== null" class="text-yellow-500 text-sm mb-2">
            Rating: {{ review.author_details.rating }} / 10
          </div>

          <!-- Review Content -->
          <p class="text-sm text-gray-600 dark:text-gray-300 mb-4">
            {{ review?.content }}
          </p>

          <!-- Link to Full Review -->
          <a
            *ngIf="review?.url"
            [href]="review.url"
            target="_blank"
            class="text-blue-500 hover:underline text-sm"
          >
            Read Full Review
          </a>
        </div>

      </div>
    </div>
  </div>


  <!-- Trailer Modal (optional static view) -->
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-70"  *ngIf="isTrailerOpen">
    <div class="bg-white dark:bg-gray-800 p-4 rounded-lg w-[90%] max-w-2xl relative">
      <button class="absolute top-0 right-1 text-black dark:text-white text-xl font-bold" (click)="closeTrailer()">
        &times;
      </button>
      <div class="aspect-w-16 aspect-h-9">
        <iframe
          width="100%"
          height="400"
          *ngIf="safeTrailerUrl"
          [src]="safeTrailerUrl"
          title="Trailer"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>


</div>
