<div class="min-h-screen bg-white dark:bg-gray-900 text-gray-300 p-5">
  <!-- Grid of people -->
  <div class="flex flex-wrap gap-6">
    <div class="flex-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      <app-people-card
        *ngFor="let people of peoples"
        [image]="'https://image.tmdb.org/t/p/w500' + people.profile_path"
        [name]="people.original_name"
        [title]="people.popularity"
      />
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="flex justify-center items-center mt-8 space-x-4">
    <button
      class="px-4 py-2 bg-blue-600 text-white rounded disabled:opacity-50"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>
    <span class="text-lg text-gray-800 dark:text-gray-200">
      Page {{ currentPage }} of {{ totalPages }}
    </span>
    <button
      class="px-4 py-2 bg-blue-600 text-white rounded disabled:opacity-50"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</div>
