<div *ngIf="loading" class="fixed inset-0 z-50 flex items-center justify-center">
  <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-b-4 border-blue-500"></div>
</div>


<div class="min-h-screen bg-white dark:bg-gray-900 text-gray-300 p-5">
  <!-- Banner Section (Auto Scroll) -->
  <div class="relative h-72 overflow-hidden rounded-lg mb-6">
    <div class="relative h-72 overflow-hidden rounded-lg mb-6">
      <img
        *ngFor="let banner of banners; let i = index"
        [src]="banner"
        [alt]="'Banner ' + (i + 1)"
        [class.hidden]="i !== currentBannerIndex"
        class="w-full h-full object-cover rounded-lg transition-opacity duration-700"
      />
    </div>

  </div>

  <div class="flex items-center gap-2 mb-4">
    <h2 class="text-xl font-bold text-gray-900 dark:text-white">Search</h2>
    <button (click)="toggleFilter()" class="text-sm bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">
      {{ filterExpanded ? 'Hide' : 'Show' }}
    </button>
  </div>



  <!-- Main Layout -->
  <div class="flex flex-wrap gap-6">
    <!-- Filter Section -->
    <div class="w-full md:w-1/4 bg-[#ccd9dd] dark:bg-gray-800 p-4 rounded-lg shadow-md"  *ngIf="filterExpanded">
<!--      <h2 class="text-xl font-bold text-gray-900 dark:text-white mb-4">Filters</h2>-->
      <form>

        <div class="mb-4">
          <label for="search" class="block text-sm text-gray-700 dark:text-gray-300">Search Movies</label>
          <input
            id="search"
            name="search"
            type="text"
            [(ngModel)]="searchQuery"
            (ngModelChange)="searchTvShowsByKeyword()"
            placeholder="Enter movie name"
            class="w-full p-2 rounded bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white"
          />
        </div>


        <div class="mb-4">
          <label for="category" class="block text-sm text-gray-700 dark:text-gray-300">Category</label>
          <select id="category"  (change)="onCategoryChange($event)"  class="w-full p-2 rounded bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white">
            <option value="popular">Popular</option>
            <option value="airing_today">Airing Today</option>
            <option value="on_the_air">On TV</option>
            <option value="top_rated">Top Rated</option>
          </select>
        </div>

        <hr>

        <div class="mb-4">
          <label for="genre" class="block text-sm text-gray-700 dark:text-gray-300 mt-5">Genre</label>
          <select id="genre" (change)="setGenre($event)" class="w-full p-2 rounded bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white">
            <option *ngFor="let genre of allGenres" [value]="genre.id">
              {{ genre.name }}
            </option>
          </select>
        </div>

        <div class="mb-4">
          <label for="genre" class="block text-sm text-gray-700 dark:text-gray-300">Adult</label>
          <div class="flex gap-2 mb-3">
            <button
              (click)="filterByType('adult')"
              [class]="selectedType === 'adult' ? activeChipStyle : chipStyle"
            >
              18+
            </button>

            <button
              (click)="filterByType('non-adult')"
              [class]="selectedType === 'non-adult' ? activeChipStyle : chipStyle"
            >
              Non 18+
            </button>
          </div>
        </div>

<!--        <div class="mb-4">-->
<!--          <label for="rating" class="block text-sm text-gray-700 dark:text-gray-300">Rating</label>-->
<!--          <select id="rating" class="w-full p-2 rounded bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white">-->
<!--            <option>All Ratings</option>-->
<!--            <option>G</option>-->
<!--            <option>PG</option>-->
<!--            <option>R</option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <div class="mb-4">-->
<!--          <label for="year" class="block text-sm text-gray-700 dark:text-gray-300">Year</label>-->
<!--          <select id="year" class="w-full p-2 rounded bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-white">-->
<!--            <option>2023</option>-->
<!--            <option>2022</option>-->
<!--            <option>2021</option>-->
<!--          </select>-->
<!--        </div>-->

        <div class="mb-4">
          <button type="button" (click)="searchTvShows()"  class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            Search
          </button>
        </div>
      </form>
    </div>


    <!-- Movie Cards Section -->
    <div class="flex-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      <app-tv-shows-card
        *ngFor="let tvSeries of allTvSeries"
        [id]="tvSeries.id"
        [image]="tvSeries.image"
        [title]="tvSeries.title"
        [rating]="tvSeries.rating"
        [adult]="tvSeries.adult"
       />
    </div>

  </div>


  <!-- Pagination Controls -->
  <div class="flex justify-center items-center mt-8 space-x-4">
    <button
      class="px-4 py-2 bg-blue-600 text-white rounded disabled:opacity-50"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>
    <span class="text-lg text-gray-800 dark:text-gray-200">
      Page {{ currentPage }} of {{ totalPages }}
    </span>
    <button
      class="px-4 py-2 bg-blue-600 text-white rounded disabled:opacity-50"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</div>
